
<nav>
    <h1 class="logo">scrapmetalband</h1>

<ul class="nav-main">
    <li class="menu-item">home</li>
    <li class="menu-item">music</li>
    <li class="menu-item">videos</li>
    <li class="menu-item">store</li>
    <li class="menu-item">show dates</li>
    <li class="menu-item">get updates</li>
</ul>
</nav>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    nav {
        color: silver;
        background: #101010;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    .nav-main {
        display: flex;
        padding: 0;
    }
    .menu-item {
        display: block;
        padding: 1rem 2rem;
        color: white;
        align-content: center;
        border-radius: .275rem;
        margin-left: 1rem;
        }
    .menu-item:hover {
        background-color: slategray;
        cursor: pointer;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

</style>

